@import "./variables.scss";
@import "./components.scss";
@import "./login.scss";
@import "./dashboard.scss";
@import "./editor.scss";

@font-face {
  font-family: Jura;
  src: url(../../public/assets/fonts/Jura-Regular.ttf);
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  font-family: Jura, Roboto, monospace;
  width: 100vw;
  height: 100vh;
}


a {
  text-decoration: none;
  color: black;
}

.success_toast {
  background-color: #68ba82c3;
}

.error_toast {
  background-color: #db6c4dd2;
}

